*{
  margin: 0;
  padding: 0;
}
.shimmer-container{
  display: flex;
}
.shimmer-card{
  width: 100px;
  height: 70px;
  margin: 20px;
  background-color: lightgray;
}
.shimmer-card2{
  width: 100px;
  height: 200px;
  margin: 20px;
  background-color: lightgray;
}
.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: 2px solid  #79c66d;
}
.logo{
  width: 100px;
  margin-left: 10px;
}
.nav-items > ul{
  display: flex;
}
.nav-items > ul > li{
  cursor: pointer;
  margin: 10px;
  list-style: none;
}
.filter{
  display: flex;
}

.search{
  margin: 10px;
}
.search input, .search_btn{
  cursor: pointer;
  padding: 5px 15px ;
  font-size: 15px;
}

.filter_btn{
  cursor: pointer;
  margin: 10px;
  padding: 5px 15px;
  font-size: 15px;
  background-color: #84e484;
  border: none;
  border-radius: 6%;
}

.product-listing{
  margin: 10px;
  width: 200px;
  min-height: 350px;
  background-color: gainsboro;
  /* border: 2px solid  #79c66d; */
  box-shadow: 4px 6px 5px #79c66d;
  padding: 10px;
  align-items: center;
  border-radius: 20px;
}

.product-listing:hover{
  border: 1px solid  #cc8282;
  cursor: pointer;
}
.product-listing img{
  width: 100%;
  height: auto;
  
}
.main_cards{
  display: flex;
  flex-wrap: wrap;

}